.footer {
    background-color: #431cd1;
    color: white;
    padding: 20px;
  }
  
  .footer-content p {
    font-size: 16px;
  }
  
  #ul-1 ul{
    list-style-type: none;

  }
  #ul-1 ul li{
   margin: 10px;
    
  }
  #ul-1 ul a{
    color: rgb(243, 244, 247);
    text-decoration-line: none;
  }

  #ul-1 ul a:hover{
    color: rgb(229, 225, 236);
    text-decoration-line: underline;
  }


  #ul-1{
    display: flex;
    justify-content: space-around;
  }
  