
#VDr_logo{
   height: 100px;
   width: 100px;
}
.container{
  /* background-color: #000000; */

}
#dropdown{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    padding-left: 10px;
    width: 150px;
    position: relative;
    left: 400px;
    /* background: #000; */
}
#dropdown li{
    padding-right: 0px;
justify-content: space-around;
}

#basic-addon1{
    width: 200px;
    text-align: center;
    
}
.navbar.bg-body-tertiary{
position: relative;
left: -6px;

}
.container-fluid{
  background: #4c4c4c09;
  /* background-color: #000000 */
}
.navbar-nav{
    /* border: 1px solid black ; */
    width: 600px;
  position: relative;
  left: 380px;
  }
.nav-item{
  margin-right: 10px;
  /* padding-right:100px ; */
  /* padding: 10px; */
}
.navbar.navbar-expand-lg.bg-body-tertiary{
}
.login-btn{
  position: relative;
  left: 50px;
  top: -10px;
  border-radius: 9px;
  padding: 10px;
  color: #ffffff;
  background: #1f1f1f;
  border:rgba(24, 24, 24, 0.302) 1px solid;
  cursor: pointer;
}
.card-img-top1{
height: 200px;
width: 200px;
    border-radius: 50%;
    margin-left: 40px;
}
.card-img-top{
    height: 200px;
    width: 200px;
}


#cards1{
    border: none;
    padding: 50px;
    /* border: 1px solid black; */
    display: flex;
    height: 400px;
    justify-content:  space-around;
    list-style-type: none;
    /* background: #84d9fb; */
    background-image: url("./images/stethescopebluebg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode:exclusion; */
  }
#cards-div1{
    margin-top: 50px;
    padding: 20px;
  height: 500px;    
    /* border: #000000; */
}
.cards1{
  height: 500px;
  padding-bottom: 150px;
}
#cards-div{
    margin-top: 100px;
}
.card1{
  background: #d5d5d576;
  position: relative;
  display: flex;
  align-items: center;
  justify-content:center space-evenly;
  flex-flow: column;
  padding: 20px;
  padding-right: 50px;
  border-radius: 10px;
  box-shadow:0 9px 10px 1px #00000097;
}

#cards{
    padding: 50px;
    border: 1px solid rgba(91, 91, 91, 0.384);
    display: flex;
    height: 400px;
    justify-content: space-around;
    list-style-type: none;
}


#h2{
    padding-top: 150px;
    padding-left: 450px;
    /* padding-bottom: -200px; */
}

#cards-div1 h3,h6{
    margin-left: 60px;
}
#cards-div h3{
    margin-left: 60px;
    /* margin-bottom: 200px; */
}
#cards-div h6{
    margin-left: 60px;
    position: relative;
    top: -90px;
}






 /* clouser properties */

 .wrapper {
    /* border: 1px solid black; */
    max-width: 1100px;
    width: 100%;
    position: relative;
    margin-left: 100px
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
    z-index: 1;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 30px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }





  /* footer */

 .fotter {
   width: 100%;
   height: 150px;
   position: absolute;
 }

 .fotter2 {
   background: #e2e2e4;
   width: 100%;
   height: 130px;
   position: absolute;
   bottom: 0;
   overflow: hidden;
   border-radius: 0 0 10px 10px;
 }

 .VDr_logo {
   width: 181px;
   height: 126px;
   position: absolute;
   left: 11px;
   top: 5px;
   object-fit: cover;

 }

 #tooltip {
   background-color: #010101;
   color: #e2e2e4;
   position: absolute;
   top: 10px;
   width: 75px;
   padding: 1px;
   border-radius: 5px;
   visibility: hidden;
   opacity: 0;
   transition: opacity 0.3s;
 }

 .evaap-logo-2-1-ai-brush-removebg-8-nqsg-4-zr-222 :hover #tooltip {
   visibility: visible;
   opacity: 1;
 }

 .no-179-down-street-new-york-xxxxxxxxxxx-usa-600096 {
   color: #000000;
   text-align: left;
   font-family: "OpenSans-Regular", sans-serif;
   font-size: 16px;
   font-weight: 400;
   position: absolute;
   left: calc(50% - -31px);
   top: 34px;
   width: 246.37px;
   height: 128px;
 }

 .home2 {
   width: 52px;
   height: 19px;
   position: absolute;
   left: calc(50% - 454px);
   top: 40px;
   text-decoration: none;
   color: #000000;
 }

 .contact-us2 {
   width: 94px;
   height: 19px;
   position: absolute;
   left: calc(50% - 454px);
   top: 60px;
text-decoration: none;
  color: #000000; }

 .about-us2 {
   width: 73px;
   height: 19px;
   position: absolute;
   left: calc(50% - 453px);
   top: 81px;
  text-decoration: none;
    color: #000000;
 }

 .our-services2 {
   width: 95px;
   height: 19px;
   position: absolute;
   left: calc(50% - 454px);
   top: 102px;
  text-decoration: none;
    color: #000000;
 }

 .fa-qs {
   width: 63px;
   height: 22px;
   position: absolute;
   left: calc(50% - 184px);
   top: 51px;
 }

 .fa-qs2 {
   color: #000000;
   text-align: left;
   font-family: "OpenSans-Regular", sans-serif;
   font-size: 16px;
   font-weight: 400;
   position: absolute;
   right: 0%;
   left: 0%;
   width: 100%;
   bottom: 0%;
   top: 0%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
 }

 .carrer {
   width: 62px;
   height: 17px;
   position: absolute;
   left: calc(50% - 184px);
   top: 78px;
 }

 .carrer2 {
   color: #000000;
   text-align: left;
   font-family: "OpenSans-Regular", sans-serif;
   font-size: 16px;
   font-weight: 400;
   position: absolute;
   right: 0%;
   left: 0%;
   width: 100%;
   bottom: 0%;
   top: 0%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
 }

 .announces {
   width: 86px;
   height: 18px;
   position: absolute;
   left: calc(50% - 185px);
   top: 98px;
 }

 .announces2 {
   color: #000000;
   text-align: left;
   font-family: "OpenSans-Regular", sans-serif;
   font-size: 16px;
   font-weight: 400;
   position: absolute;
   right: 0%;
   left: 0%;
   width: 100%;
   bottom: 0%;
   top: 0%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
 }

 .instagram-circle {
   width: 40px;
   height: 40px;
   position: absolute;
   left: 1111px;
   top: 46px;
 }

 .instagram-circle2 {
   width: 100%;
   height: 100%;
   position: absolute;
   right: 0%;
   left: 0%;
   bottom: 0%;
   top: 0%;
   object-fit: cover;
 }

 .linked-in-circled {
   width: 40px;
   height: 40px;
   position: absolute;
   left: 1195px;
   top: 46px;
 }

 .linked-in-circled2 {
   width: 100%;
   height: 100%;
   position: absolute;
   right: 0%;
   left: 0%;
   bottom: 0%;
   top: 0%;
   object-fit: cover;
 }

 .quick-links {
   width: 113px;
   height: 22px;
   position: absolute;
   left: 265px;
   top: 5px;
 }

 .quick-links2 {
   color: #000000;
   text-align: left;
   font-family: "OpenSans-Regular", sans-serif;
   font-size: 20px;
   font-weight: 400;
   position: absolute;
   right: 0%;
   left: 0%;
   width: 100%;
   bottom: 0%;
   top: 0%;
   height: 100%;
 }

 .tools {
   width: 50px;
   height: 27px;
   position: absolute;
   left: 535px;
   top: 5px;
 }

 .tools2 {
   color: #000000;
   text-align: left;
   font-family: "OpenSans-Regular", sans-serif;
   font-size: 20px;
   font-weight: 400;
   position: absolute;
   right: -10%;
   left: 0%;
   width: 110%;
   bottom: 0%;
   top: 0%;
   height: 100%;
 }

 .contact-us4 {
   width: 111px;
   height: 27px;
   position: absolute;
   left: 751px;
   top: 5px;
 }

 .contact-us5 {
   color: #000000;
   text-align: left;
   font-family: "OpenSans-Regular", sans-serif;
   font-size: 20px;
   font-weight: 400;
   position: absolute;
   right: 0%;
   left: 0%;
   width: 100%;
   bottom: 0%;
   top: 0%;
   height: 100%;
 }

 .follow-us {
   width: 181px;
   height: 44px;
   position: absolute;
   left: 1111px;
   top: 0px;
 }

 .follow-us2 {
   color: #000000;
   text-align: left;
   font-family: "OpenSans-Regular", sans-serif;
   font-size: 26px;
   font-weight: 400;
   position: absolute;
   right: 0%;
   left: 0%;
   width: 100%;
   bottom: 0%;
   top: 30%;
   height: 100%;
 }





 .twitter {
   width: 40px;
   height: 40px;
   position: absolute;
   right: 155px;
   bottom: 44px;
 }

 .twitter2 {
   width: 100%;
   height: 100%;
   position: absolute;
   right: 0%;
   left: 0%;
   bottom: 0%;
   top: 0%;
   object-fit: cover;
 }


 .image-7 {
   width: 1440px;
   height: 496px;
   position: absolute;
   left: calc(50% - 720px);
   top: calc(50% - -861.5px);
   transform-origin: 0 0;
   transform: rotate(0deg) scale(1, -1);
   object-fit: cover;
 }